<div class="container">
  <div class="row-fluid">

<div class="page-header">
<%= link_to "Edit Account", edit_user_path(@user), class: "btn pull-right" %><h1><%= "#{@user.first_name} #{@user.last_name}"%></h1>
</div>

<%= image_tag @user.photo.url(:medium) %>

<dl class="dl-horizontal">
  <dt>First Name:</dt>
  <dd><%= @user.first_name %></dd>

  <dt>Last Name:</dt>
  <dd><%= @user.last_name %></dd>

  <dt>Email:</dt>
  <dd><%= mail_to @user.email %></dd>

  <dt>Member since: </dt>
  <dd><%= @user.created_at.strftime("%B %d, %Y") %></dd>

</dl>

<% @user.reviews.each do |review| %>
  <p><%= review.restaurant.name.titlecase %></p>
  <p><%= review.title.titlecase %></p>
  <p><%= review.body %></p>
  <p>Rating: <%= review.rating %></p>
<% end %>
</div>
</div>
