<h1><%= @restaurant.name.titlecase %></h1>

<h4><%= @restaurant.address.titlecase %></h4>
<h4><a href="tel:<%=@restaurant.phone_number%>"><%= @restaurant.phone_number %></a></h4>
<% if @restaurant.reviews.length > 0 %>
<h4>Rating:  <%= @restaurant.reviews.collect(&:rating).sum.to_f/@restaurant.reviews.length if @restaurant.reviews.length > 0 %></h4>
<% else %>
<h4>Rating: Be the first to review!</h4>
<%end%>
<%= link_to "Write a Review", new_restaurant_review_path(@restaurant) %>
<iframe width="300" height="300" frameborder="0" style="border:2" src='https://www.google.com/maps/embed/v1/place?key=AIzaSyDytygS-_zc6BXfut5sJW0hx7C-DNaKoqY&q=<%=@restaurant.address%>'/></iframe>

<% @restaurant.reviews.each do |review| %>
  <h3><%= review.user.first_name.titlecase %>'s take on <%= @restaurant.name.titlecase %></h3>
  <p><%= review.title.titlecase %></p>
  <p><%= review.body %></p>
  <p>Rating: <%= review.rating %></p>
  <%= image_tag review.photo.url(:medium) %>
<% end %>
